    <!-- <div class="carousel-box">
        <div id="carItems" class="carousel slides">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../pleasant climate.jpg" alt="logo" class="d-block" alt="">
                </div>
                <div class="carousel-item">
                    <img src="../mountains.jpg" alt="logo" class="d-block" alt="">
                </div>
                <div class="carousel-item">
                    <img src="../mountains.jpg" alt="logo" class="d-block" alt="">
                </div>
            </div>
            <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carItems"><span class="carousel-control-prev-icon"></span></button>
            <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carItems"><span class="carousel-control-next-icon"></span></button>
        </div>
    </div> -->
    
</body>
</html>