<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="bootstrap-5.2.0-dist/css/bootstrap.css" rel="stylesheet">
    <script src="bootstrap-5.2.0-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Weather Report</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-white shadow-lg">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                <img src="Images/vaatavaran.gif"
                    alt="" class="logo" />
            </a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navOptions"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navOptions">
                <div class="navbar-nav ms-auto">
                    <a href="/" class="nav-link">Home</a>
                    <a href="/articles" class="nav-link">Articles</a>
                    <a href="/contacts" class="nav-link">Contacts</a>
                </div>
            </div>
        </div>
    </nav>