body {
  text-align: center;
  background-color: black;
  /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/fc/Thunder_lightning_Garajau_Madeira_289985700.jpg"); */
}

.op {
  margin-top: 50px;
  background-attachment: fixed;
  text-align: center; 
  color: #d61f04;
}

.col-lg-6 {
  position: relative;
  top: 50px;
  margin-top: 50px;
  font-size: 20px;
  border: solid 2px;
  text-align: center; 
  color: #f8f4f3;
}
